<div class="body">
  <div class="row">
    <h1>Hard and Soft Skills</h1>

    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="90"
        [radius]="93"
        [showImage]="true"
        [imageSrc]="'../../../assets/img/HTML.png'"
        [imageHeight]="150"
        [imageWidth]="150"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#F05938'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="90"
        [radius]="93"
        [showImage]="true"
        [imageSrc]="'../../../assets/img/CSS.png'"
        [imageHeight]="120"
        [imageWidth]="120"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#3275C5'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="30"
        [radius]="93"
        [showImage]="true"
        [imageSrc]="'../../../assets/img/javascript_icon_130900.png'"
        [imageHeight]="115"
        [imageWidth]="115"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#F7DD20'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="30"
        [radius]="93"
        [showImage]="true"
        [imageSrc]="'../../../assets/img/typescript.png'"
        [imageHeight]="120"
        [imageWidth]="120"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#0D75D9'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="40"
        [radius]="93"
        [showImage]="true"
        [imageSrc]="'../../../assets/img/MySQL.png'"
        [imageHeight]="120"
        [imageWidth]="120"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#365B80'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="40"
        [radius]="93"
        [showImage]="true"
        [imageSrc]="'../../../assets/img/java.png'"
        [imageHeight]="130"
        [imageWidth]="130"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="30"
        [radius]="93"
        [showImage]="true"
        [imageSrc]="'../../../assets/img/spring-framework.png'"
        [imageHeight]="100"
        [imageWidth]="120"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="50"
        [radius]="93"
        [showImage]="false"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'Inglés'"
        [titleFontSize]="'28px'"
        [titleFontWeight]="'100px'"
        [titleColor]="'000000'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>



    <hr />


    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="100"
        [radius]="93"
        [showImage]="false"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'Organización'"
        [titleFontSize]="'26px'"
        [titleFontWeight]="'100px'"
        [titleColor]="'000000'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="100"
        [radius]="93"
        [showImage]="false"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'Asertividad'"
        [titleFontSize]="'28px'"
        [titleFontWeight]="'100px'"
        [titleColor]="'000000'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="100"
        [radius]="93"
        [showImage]="false"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'Trabajo grupal'"
        [titleFontSize]="'24px'"
        [titleFontWeight]="'100px'"
        [titleColor]="'000000'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="30"
        [radius]="93"
        [showImage]="false"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'Liderazgo'"
        [titleFontSize]="'28px'"
        [titleFontWeight]="'100px'"
        [titleColor]="'000000'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="100"
        [radius]="93"
        [showImage]="false"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'Responsabilidad'"
        [titleFontSize]="'22px'"
        [titleFontWeight]="'100px'"
        [titleColor]="'000000'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="100"
        [radius]="93"
        [showImage]="false"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'Proactivo'"
        [titleFontSize]="'28px'"
        [titleFontWeight]="'100px'"
        [titleColor]="'000000'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <circle-progress
        [percent]="100"
        [radius]="93"
        [showImage]="false"
        [showBackground]="true"
        [backgroundGradient]="false"
        [backgroundColor]="'#C9CED3'"
        [backgroundPadding]="-24"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'Autodidacta'"
        [titleFontSize]="'28px'"
        [titleFontWeight]="'100px'"
        [titleColor]="'000000'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#612023'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
  </div>
</div>
