<div class="body">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  picprofile" >
        <div>
            <img src="../../../assets/img/IMG_4012-2-small2.png" class="rounded-circle"/>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  name-certificate">
        <div class="nombre">
            <p>{{persona.nombre}} {{persona.apellido}}</p>
        </div>
        <div class="certificado"> 
            <p> Full Stack Developer</p>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5  professional">
        <h1>Formación profesional</h1>
        <p> -Conocimientos de frontend: HTML, CSS y Javascript completando distintos cursos de forma
             autodidacta en distintas plataformas.
        </p>
        <p>-Conocimientos básicos de backend adquiridos de Argentina Programa</p>
    </div>
</div>
</div>